@import '../_variables';

.c-btn {
  align-items: center;
  align-content: center;
  background-color: $lightBlue;
  border: 0;
  border-radius: $radiusSmall;
  cursor: pointer;
  font-size: $textMedium;
  justify-content: center;
  padding: $padMarSmall $padMarMedium;
  text-align: center;

  &--alt {
    background-color: $green;

    &:hover,
    &:active,
    &.is-active {
       background-color: $darkGreen;
    }
  }

  &:disabled,
  &.is-disabled {
    background-color: $gray;
    cursor: not-allowed;
  }

  &:hover,
  &:active,
  &.is-active {
    background-color: $blue;
  }
}