@import '../_variables';

.c-controls {
  padding: $padMarSmall $padMarMedium;
  margin: $padMarSmall $padMarLarge;

  label {
    margin-right: $padMarMedium;

    &:last-child {
      margin-right: 0;
    }
  }
}