/*
VARIABLES: CONTENTS
- fonts
- colors
- z-indices & magic-numbers
*/

$codeFont: monospace;
$mainFont: Arial, sans-serif;

/*
=== COLORS ===
*/
// greyscales colors
$black:     #000;
$darkGray:  #3f3f3f;
$gray:      #bdbdbd;
$lightGray: #eee;
$trueWhite: #fff;
$white:     #efefef;

$darkPurple:  #443d5c;
$lightBlue:   #76caf6;
$blue:        darken($lightBlue, 10%);
$green:       #85cb36;
$darkGreen:   darken($green, 10%);
$red:         #f80500;

/*
=== MAGIC NUMBERS ===
*/
$textExtraSmall:  8px; // avoid for accessibility
$textSmall:       12px;
$textNormal:      16px;
$textMedium:      18px;
$textLarge:       20px;
$textXLarge:      24px;
$textXXLarge:     32px;
$textXXXLarge:    48px;

$padMarXSmall: 5px;
$padMarSmall: 10px;
$padMarMedium: 20px;
$padMarLarge: 50px;

$radiusSmall: 5px;
$radiusMedium: 10px;
$radiusCircle: 50%;

$weightThin:    300;
$weightNormal:  400;
$weightBold:    600;

$z1:    1;
$z2:    2;
$z5:    5;
$z10:   10;
$z100:  100;
$z1000: 1000;