@import './_variables';
@import './objects';
@import './utilities';

@import './typography';

// only native element reset-type styles
body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background-color: $white;
  color: $black;
  font-family: $mainFont;
  font-size: $textNormal;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;

  &:before {
    margin: 0;
    padding: 0;
  }
}
