.u {
  &-align-center--horizontal {
    align-content: center;
    justify-content: center;
  }

  &-align-center--vertical {
    align-items: center;
  }

  &-align-end--horizontal {
    align-content: flex-end;
    justify-content: flex-end;
  }

  &-align-end--vertical {
    align-items: flex-end;
  }

  &-full-width {
    width: 100%;
  }

  &-justify-around {
    justify-content: space-around;
  }

  &-justify-between {
    justify-content: space-between;
  }

  &-margin--x-small {
    margin: $padMarXSmall;
  }

  &-no-margin {
    margin: 0 !important;
  }

  &-no-padding {
    padding: 0 !important;
  }

  &-xxx-large {
    font-size: $textXXXLarge;
  }
}